/* ------------------  HEADER ----------------------- */

.row {
  padding-top: 5px;
}

.titulo {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  color: #9e0404;
  font-size: 30px;
  /* Impede que o texto seja quebrado em várias linhas, forçando-o a ficar em uma só. */
  white-space: nowrap;
}

/* -------------- AREA DE JOGO ------------------ */

/* --- cartas --- */

.card-img {
  width: 100px;
  margin-left: 10px;
  margin-right: 20px;
  height: auto;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(168, 34, 34, 0.3);
}

@media screen and (max-width: 600px) {
  .card-img {
    max-width: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .card-img {
    max-width: 109px;
  }
}

/* --- alinhamento e tipografia --- */

#dealer,
#player {
  margin-bottom: 1rem;
}

#game {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

#game {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

/* ---  botoes--- */
#card {
  background-color: #9e0404;
  border-color: #9e0404;
  width: 80px;
}
#stand {
  background-color: #c9552b;
  border-color: #c9552b;
  width: 80px;
}

.btn {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: white;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

#card:hover {
  border-color: #9d5a5a;
  background-color: #9d5a5a;
}

#stand:hover {
  background-color: #d58162;
  border-color: #d58162;
}

/* --------------------------- STATUS DO JOGO ---------------------- */
#game_status {
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #9e0404;
}

/*----------------------- POP UP - SHOW RESULTS -----------------*/
.modal-header .modal-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  font-size: 30px;
  color: #9e0404;
  text-align: center;
  flex-grow: 1; /* Faz o título ocupar o espaço inteiro (Flexbox) */
}
#Pop_Up-message {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  font-size: 40px;
  margin-bottom: 20px;
}
#Pop_Up-description {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  font-size: 18px;
  margin-bottom: 40px;
}
.Pop_Up-score {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: underline;
  font-weight: bold;
  font-size: 18px;
}
th.player-label {
  /*th = table header QUE é a tag onde esta o player e dealer especificamente */
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #9e0404;
}
th.dealer-label {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #9e0404;
}

/* --- botao do pop up --- */
button.btn-success.botao_Modal {
  background-color: #5a1a1a;
  border-color: #5a1a1a;
  color: white;
}
button.btn-success.botao_Modal:hover {
  background-color: #9e2f2f;
  border-color: #9e2f2f;
}

/* ------ BODY ---------------*/
body {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 7px;
  padding-right: 7px;

  background-color: #550000;
  background-image: url("../img/background.png");
  min-height: 100vh;
}

/* ----------------- CAIXA CENTRAL DE JOGO ------------------------- */
.main-content-wrapper {
  margin: 0 auto;
  background-color: white;
  padding: 15px 15px 1px 15px;
}

@media screen and (min-width: 600px) {
  .main-content-wrapper {
    max-width: 600px;
  }
}
@media screen and (min-width: 1024px) {
  .main-content-wrapper {
    max-width: 800px;
  }
}

.container {
  box-shadow: none;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(92, 13, 13, 0.892); /* Sombra na caixa branca */
  margin-bottom: 15px;
}

#rodape h1 {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  text-align: center;
}
